# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
build/
dist/
linux_setup_scripts/
*.egg-info/
.eggs/

# Logs and output
*.log


# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# IDE / Editor settings
.idea/
.vscode/
*.swp
*.swo

# Operating system files
.DS_Store
Thumbs.db
desktop.ini

# Exclude generated Python egg files
bible.egg-info/
dist/
build/
